.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}

.card {
  padding: 20px;
  border-radius: 16px;
  color: white;
  background: linear-gradient(135deg, #6366f1, #3b82f6);
}

.charts {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.chart-box {
  padding: 20px;
  background: white;
  border-radius: 16px;
}